training-page {
    
    .face-label {
        font-family: cursive;
        font-size: 2em;
    }

    .training-label {
        font-family: cursive;
    }

    .start-label {
        font-family: cursive;
        // visibility: hidden;
        font-size: 2em;
    }

    .loading {
        width: 60%;
    }
}