page-home {
    .foteli {
        height: 250px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .camera-preview {
        height: 224px;
    }
    .capture-preview {
        height: 100px;
        width: 100px;
        border: 1px dashed grey;
        .img {
            height: 100px;
            width: 100px;
        }
        .samples-counter {
            position: absolute;
            color: greenyellow;
            margin-left: 40%;
        }
        &.active {
            border: 5px dashed green;
        }
        .confidence {
            font-size: 1.2em;
            color: blue;
            position: absolute;
        }
    }
}
