<ion-header>
  <ion-navbar>
    <ion-title>
      Caripela
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <button ion-button (click)="train()">train</button>
    <button ion-button (click)="start()">play</button>
    <button ion-button (click)="stop()">stop</button>
    <button ion-button (click)="reset()">reset</button>
    <ion-spinner [hidden]="!training"></ion-spinner>
  </div>
 
  <ion-grid>
    <ion-row>
      <ion-col>
        <div [ngClass]="{active: lastPrediction.classId === 0}" 
          class="capture-preview" (click)="addSamples(0)">
          <span *ngIf="lastPrediction.classId === 0" 
            class="confidence">
              {{lastPrediction.confidence}} %
          </span>
          <span class="samples-counter"><small># {{samplesAdded[0]}}</small></span>
          <img class="img" [src]="previews[0]">
        </div>
      </ion-col>
      <ion-col>
          <div [ngClass]="{active: lastPrediction.classId === 1}" 
            class="capture-preview" (click)="addSamples(1)">
              <span *ngIf="lastPrediction.classId === 1" 
                class="confidence">
                  {{lastPrediction.confidence}} %
              </span>
              <span class="samples-counter"><small># {{samplesAdded[1]}}</small></span>
              <img class="img" [src]="previews[1]">
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <div [ngClass]="{active: lastPrediction.classId === 2}" 
            class="capture-preview" (click)="addSamples(2)">
              <span *ngIf="lastPrediction.classId === 2" 
                class="confidence">
                  {{lastPrediction.confidence}} %
              </span>
              <span class="samples-counter"><small># {{samplesAdded[2]}}</small></span>
              <img class="img" [src]="previews[2]">
          </div>
        </ion-col>
        <ion-col>
            <div [ngClass]="{active: lastPrediction.classId === 3}" 
              class="capture-preview" (click)="addSamples(3)">
                <span *ngIf="lastPrediction.classId === 3" 
                  class="confidence">
                    {{lastPrediction.confidence}} %
                </span>
                <span class="samples-counter"><small># {{samplesAdded[3]}}</small></span>
                <img class="img" [src]="previews[3]">
            </div>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>      
        <video #webcamholder autoplay playsinline
          muted id="webcamholder" width="300" height="300"></video>        
    </ion-row>    
  </ion-grid>
</ion-content>
